services:
    Aurelienazerty.DisplayLastPost.listener:
        class: Aurelienazerty\DisplayLastPost\event\listener
        arguments:
            - @dbal.conn
            - @config
            - @user
            - @request
        tags:
            - { name: event.listener }
